html {
	overflow-y: hidden;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

#sidebar input {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin:2px 0;
	padding:2px;
}

#sidebar {
	float:left;
	width:15%;
	background:#CCC;
	padding:10px;
	height:100vh;
}

#map {
	float:right;
	width:80%;
	height:100vh;
}

#loading {
	z-index: 10;
	position: fixed;
	margin: auto auto;
	top:0;
	right:0;
	left:0;
	bottom:0;
	display:none;
	height: 200px;
	width: 200px;
	background-image: url("../images/loading.gif");
}

button {
    width: 100%;
    padding: 3px;
}

