html {
	overflow-y: hidden;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

#sidebar input {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin:2px 0;
	padding:2px;
}

#sidebar {
	float:left;
	width:20%;
	background:#CCC;
	padding:10px;
	height:100vh;
}

#tweets {
	padding-top: 10px;
}

#map {
	float:right;
	width:75%;
	height:100vh;
}

#loading {
	z-index: 10;
	position: fixed;
	margin: auto auto;
	top:0;
	right:0;
	left:0;
	bottom:0;
	display:none;
	height: 200px;
	width: 200px;
	background-image: url("../images/loading.gif");
}

button {
    width: 100%;
    padding: 3px;
}


/* OVERLAY */
#overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.5;
    z-index:11;
}

#overlayModal {
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
    z-index:12;
}

#overlayContent {
    border-radius:8px;
    background:#fff;
    padding:20px;
	width: 800px;
	min-height: 500px;
}

#overlayClose {
    position:absolute;
    background:url(../images/close.png) 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    text-indent:-9999px;
    top:-7px;
    right:-7px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

blockquote {
  background: #f9f9f9;
  margin: 8px 0;
  padding: 8px 5px;
}

blockquote.positive {
  border-left: 10px solid #7ca668;
}

blockquote.neutral {
  border-left: 10px solid #ffff00;
}

blockquote.negative {
  border-left: 10px solid #fc575e;
}

blockquote p {
  display: inline;
}

blockquote .date{
	color: #888;
	display:block;
	text-align:right;
}