html {
	overflow-y: hidden;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

#sidebar input {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin:2px 0;
	padding:2px;
}

#sidebar {
	float:left;
	width:200px;
	background:#CCC;
	padding:10px;
	height:100vh;
}

#map {
	float:right;
	width:1120px;
	height:670px;
}
