{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Animated Symbols</title>

	<link rel="stylesheet" type="text/css" href="{% static 'styles/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/token-input.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/jquery.datetimepicker.css' %}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script type="text/javascript" src="{% static 'js/raphael-2.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/kartograph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/chroma.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tokeninput.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/overlay.js' %}"></script>
</head>
<body>

<div class="container">
	<div id="sidebar">
		<h1>Tittel</h1>
		<form id="search-form">
         {% csrf_token %}
   		<input type="text" name="search" id="search-field" placeholder="#hashtag">
        <input type="text" name="start_time" id="start_time" value="" placeholder="Start time">
        <input type="text" name="end_time" id="end_time" value="" placeholder="End time">

   		<button onclick="searchTweets()" id="search-button" type="button">Search</button>
      </form>
	</div>
	
	<script type="text/javascript">
    var scale, symbols, map, maxRad = 30;

    $(function() {
        map = window.m = kartograph.map('#map');
        map.loadMap("{% static 'display/map-usa.svg' %}", function() {
            map.addLayer('usa', {
                styles: {
                    fill: '#dfdcdc',
                    stroke: '#fff'
                }
            });
        });
    });

    $(document).ready(function() {
        $("#search-field").tokenInput( {{ tags|safe }}, {
            method: 'POST',
            resultsLimit: 10,
            preventDuplicates: true,
            placeholderText: "#hashtag"
        });
    });

    function searchTweets() {
        var term = $('#search-field').val();
        var startTime = $('#start_time').val();
        var endTime = $('#end_time').val();

        if (term.length == 0) {
            if (symbols) symbols.remove();
            return;
        }

        $('#loading').show();
        $("#search-button").prop('disabled', true);

        ajaxPost('/get_hashtag/', {'hashtag':term, 'startTime':startTime, 'endTime':endTime}, function(response) {
            crimeCities = response.results;
            scale = kartograph.scale.log(crimeCities, "count");

            if (symbols) symbols.remove();
            symbols = map.addSymbols({
                type: kartograph.PieChart,
                data: crimeCities,
                colors: ['#fc575e', '#ffff00', '#7ca668'],
                border: "#fff",
                location: function(d) { return [d.lng, d.lat] },
                tweetIDs: function(d) { return d.ids; },
                values: function(d) { return d.polarity; },
                radius: function(d) { return 3+scale(d.count)*maxRad; },
                titles: function(d) {
                    var desc = [];
                    for(var i=0; i<d.polarity.length; i++) desc.push(Math.floor(d.polarity[i]) + " out of " + d.count);
                    return desc;
                }
            });

            $('#loading').hide();
            $("#search-button").prop('disabled', false);
            console.log(symbols);
        });
    }

    jQuery(function(){
		var minDateStr = "01/01/2015 00:00", maxDateStr = "31/12/2015 23:59";

		$('#start_time').val(minDateStr);
		$('#end_time').val(maxDateStr);

		jQuery('#start_time').datetimepicker({
			format: 'd/m/Y H:i',
			timepicker: false,
			closeOnDateSelect: true,
			dayOfWeekStart: 1
		});

		jQuery('#end_time').datetimepicker({
			format: 'd/m/Y H:i',
			timepicker: false,
			closeOnDateSelect: true,
			dayOfWeekStart: 1
		});
	});


	function displayTweets(location, tweetIDs) {
		var locationAddress = "the middle of no-where...", tweetHTML = "";
		var count = 0;

		new google.maps.Geocoder().geocode({'latLng': new google.maps.LatLng(location.lat, location.lon)}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK && results.length > 2)
                locationAddress = results[results.length-3].formatted_address;

			if(count++ == tweetIDs.length) openModal(locationAddress, tweetHTML);
        });


		for (var i = 0; i < tweetIDs.length; i++) {
			$.getJSON("https://api.twitter.com/1/statuses/oembed.json?id=" + tweetIDs[i] + "&align=center&maxwidth=800&callback=?", function(data){
				tweetHTML += data.html;
				console.log(data.html);

				if(count++ == tweetIDs.length) openModal(locationAddress, tweetHTML);
			});
		}
	}

	function openModal(address, tweets) {
		var title = "<h1>Tweets from " + address + "</h1>";
		modal.open({content: title + tweets});
	}


    $(document).tooltip({track: true, position: {my: "center bottom-15", at: "center bottom"}});
    </script>

	<div style="position:relative">
        <div id="loading"></div>
		<div id="map"></div>
	</div>
</div>

</body>
</html>