{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>TweeD - Twitter decision making tool</title>

	<link rel="stylesheet" type="text/css" href="{% static 'styles/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/token-input.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/jquery.datetimepicker.css' %}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script type="text/javascript" src="{% static 'js/raphael-2.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/kartograph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/chroma.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tokeninput.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/overlay.js' %}"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container">
	<div id="sidebar">
		<h1>TweeD</h1>
		<form id="search-form">
         {% csrf_token %}
            <input type="text" name="search" id="search-field" placeholder="#hashtag">
            <input type="text" name="start_time" id="start_time" value="" placeholder="Start time">
            <input type="text" name="end_time" id="end_time" value="" placeholder="End time">

            <select id="displayType">
                <option value="map">Map</option>
                <option value="chart">Chart</option>
		    </select>

            <button onclick="searchTweets()" id="search-button" type="button">Search</button>
        </form>

        <div id="tweets"></div>
	</div>
	
	<script type="text/javascript">
    var scale, symbols, map, maxRad = 30;

    $(function() {
        map = window.m = kartograph.map('#map');
        map.loadMap("{% static 'display/map-usa.svg' %}", function() {
            map.addLayer('usa', {
                styles: {
                    fill: '#dfdcdc',
                    stroke: '#fff'
                }
            });
        });


        ajaxGet('/get_tokens/', function(response) {
            $("#search-field").tokenInput(response, {
                resultsLimit: 10,
                preventDuplicates: true,
                placeholderText: "#Hashtag"
            });
        });


        var minDateStr = "01/01/2015 00:00", maxDateStr = "31/12/2015 23:59";
		$('#start_time').val(minDateStr);
		$('#end_time').val(maxDateStr);

		jQuery('#start_time').datetimepicker({
			format: 'd/m/Y H:i',
			timepicker: false,
			closeOnDateSelect: true,
			dayOfWeekStart: 1
		});

		jQuery('#end_time').datetimepicker({
			format: 'd/m/Y H:i',
			timepicker: false,
			closeOnDateSelect: true,
			dayOfWeekStart: 1
		});



        $('#chart').highcharts({
			chart: {
				zoomType: 'xy'
			},
			title: {
				text: 'Tweet frequency and polarity history'
			},
			xAxis: [{
				categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
					'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
				crosshair: true
			}],
			yAxis: [{ // Primary yAxis
				labels: {
					format: '{value}°C',
					style: {
						color: Highcharts.getOptions().colors[2]
					}
				},
				title: {
					text: 'Temperature',
					style: {
						color: Highcharts.getOptions().colors[2]
					}
				},
				opposite: true

			}, { // Secondary yAxis
				gridLineWidth: 0,
				title: {
					text: 'Rainfall',
					style: {
						color: Highcharts.getOptions().colors[0]
					}
				},
				labels: {
					format: '{value} mm',
					style: {
						color: Highcharts.getOptions().colors[0]
					}
				}

			}],
			tooltip: {
				shared: true
			},
			legend: {
				layout: 'vertical',
				align: 'left',
				x: 80,
				verticalAlign: 'top',
				y: 55,
				floating: true,
				backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
			},
			series: [{
				name: 'Rainfall',
				type: 'column',
				yAxis: 1,
				data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
				tooltip: {
					valueSuffix: ' mm'
				}

			},
			{
				name: 'Temperature',
				type: 'spline',
				data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
				tooltip: {
					valueSuffix: ' °C'
				}
			}]
		});
   });


    function searchTweets() {
        var term = $('#search-field').val();
        var startTime = $('#start_time').val();
        var endTime = $('#end_time').val();

        if (term.length == 0) {
            if (symbols) symbols.remove();
            return;
        }

        $('#loading').show();
        $("#search-button").prop('disabled', true);

        var displayType =  $('#displayType').find(":selected").text();
        if(displayType == "map") {
            $("#chart").hide();
            $("#map").show();

            ajaxPost('/get_hashtag/', {'hashtag':term, 'startTime':startTime, 'endTime':endTime}, function(response) {
                crimeCities = response.results;
                scale = kartograph.scale.log(crimeCities, "count");

                if (symbols) symbols.remove();
                symbols = map.addSymbols({
                    type: kartograph.PieChart,
                    data: crimeCities,
                    colors: ['#fc575e', '#ffff00', '#7ca668'],
                    border: "#fff",
                    location: function(d) { return [d.lng, d.lat] },
                    ids: function(d) { return d.ids; },
                    values: function(d) { return d.polarity; },
                    radius: function(d) { return 3+scale(d.count)*maxRad; },
                    titles: function(d) {
                        var desc = [];
                        for(var i=0; i<d.polarity.length; i++) desc.push(Math.floor(d.polarity[i]) + " out of " + d.count);
                        return desc;
                    }
                });

                $('#loading').hide();
                $("#search-button").prop('disabled', false);
            });
        } else {
            $("#chart").show();
            $("#map").hide();
        }
    }


	function displayTweets(location, tweetIDs, typeID) {
		var typeClasses = ["negative", "neutral", "positive"];
		var locationAddress = "the middle of no-where...";

        console.log(tweetIDs);
		new google.maps.Geocoder().geocode({'latLng': new google.maps.LatLng(location.lat, location.lon)}, function(results, status) {
			$("#tweets").html("");
            if (status == google.maps.GeocoderStatus.OK && results.length > 2)
                locationAddress = results[results.length-3].formatted_address.replace(", USA", "");

			$("#tweets").append("<h3>Tweets from:<br/>" + locationAddress + "</h3>");
			for (var i = 0; i < tweetIDs.length; i++) {
				var t = new Date(tweetIDs[i].tweetTime * 1000);
				var form = '<blockquote class="' + typeClasses[typeID] + '"><p>' + tweetIDs[i].tweetText + '</p>' +
				'<div class="metadata">Polarity: ' + tweetIDs[i].tweetPolarity +
				'<a href="https://twitter.com/twitter/status/' + tweetIDs[i].tweetID + '" class="date">' + t.dateFormat("d. M H:i") + '</a>' +
				'</div></blockquote>';

				$("#tweets").append(form);
			}
        });
	}


    $(document).tooltip({track: true, position: {my: "center bottom-15", at: "center bottom"}});
    </script>

	<div style="position:relative">
        <div id="container">
			<div id="loading"></div>
			<div id="map"></div>
			<div id="chart"></div>
		</div>
	</div>
</div>

</body>
</html>